---

---

<footer class="bg-zinc-900 pb-10 w-screen">
    <div class="container max-w-6xl pt-10 mx-auto">
        <div
            class="flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0 md:justify-between md:items-start"
        >
            <div
                class="flex flex-col items-center space-y-8 md:items-start md:space-y-4"
            >
                <div class="h-8 ml-4 text-white text-2xl font-bold">
                    Martin Hayot
                </div>
                <div
                    class="flex flex-col items-center space-y-4 font-bold text-white md:flex-row md:space-y-0 md:space-x-6 md:ml-3"
                >
                    <div class="h-10 group">
                        <a href="/projects">Projects</a>
                        <div
                            class="mx-2 group-hover:border-b group-hover:border-blue-50"
                        >
                        </div>
                    </div>
                    <div class="h-10 group">
                        <a href="/blog">Blog</a>
                        <div
                            class="mx-2 group-hover:border-b group-hover:border-blue-50"
                        >
                        </div>
                    </div>
                    <div class="h-10 group">
                        <a href="/contact">Contact me</a>
                        <div
                            class="mx-2 group-hover:border-b group-hover:border-blue-50"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-col items-start justify-between space-y-4 text-gray-500"
            >
                <div
                    class="flex items-center justify-center space-x-4 mx-auto md:justify-end"
                >
                    <div class="group">
                        <a
                            href="https://www.linkedin.com/in/martin-hayot-21988723b"
                            target="_blank"
                            ><img
                                src="/icons8-linkedin.svg"
                                alt="linkedin icon & link"
                            /></a
                        >
                    </div>
                    <div class="group">
                        <a
                            href="https://github.com/Martin-Hayot"
                            target="_blank"
                            ><img
                                src="/icons8-github.svg"
                                alt="github icon & link"
                                class="h-7"
                            /></a
                        >
                    </div>
                </div>
                <div class="font-bold">
                    &copy; 2023 Martin Hayot. All rights reserved.
                </div>
            </div>
        </div>
        <div class="mt-5 ml-3 text-lg text-center text-white">
            Website made with <a
                href="https://astro.build"
                class="text-amber-600 font-bold text-lg"
                >Astro JS<img
                    src="/astro_for_black.svg"
                    alt="astro icon"
                    class="h-6 w-6 inline ml-2 mb-1"
                /></a
            >
        </div>
    </div>
</footer>
