.loader {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -100%) scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% {
    transform: translate(-50%, -100%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%) scale(2);
    opacity: 0;
  }
}
