---
import NavBar from "@/components/navigation/NavBar";
import CommonHead from "../components/CommonHead.astro";
import Loader from "../components/Loader";
import "@/styles/globals.css";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/rocket.svg" />
        <meta name="generator" content={Astro.generator} />

        <CommonHead />
    </head>
    <body
        transition:animate="none"
        class="bg-neutral-950 text-sm text-neutral-400 overflow-x-hidden"
    >
        <NavBar transition:name="nav" client:only="react" />
        <div class="w-[90%] mx-auto mt-32 min-h-screen text-white">
            <slot />
        </div>
        <Footer />
    </body>
</html>
