---
import NavBar from "@/components/navigation/NavBar";
import CommonHead from "../components/CommonHead.astro";
import Loader from "../components/Loader";
import "@/styles/globals.css";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/rocket.svg" />
        <meta name="generator" content={Astro.generator} />

        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
        </style>
        <CommonHead />
    </head>
    <body
        transition:animate="none"
        class="bg-neutral-950 text-sm text-neutral-400 overflow-x-hidden"
    >
        <Loader client:load />
        <NavBar transition:name="nav" client:only="react" />
        <slot />
        <Footer />

        <style is:global>
            :root {
                --accent: 136, 58, 234;
                --accent-light: 224, 204, 250;
                --accent-dark: 49, 10, 101;
                --accent-gradient: linear-gradient(
                    45deg,
                    rgb(var(--accent)),
                    rgb(var(--accent-light)) 30%,
                    white 60%
                );
            }
            html {
                font-family: system-ui, sans-serif;
            }
            code {
                font-family:
                    Inter,
                    Menlo,
                    Monaco,
                    Lucida Console,
                    Liberation Mono,
                    DejaVu Sans Mono,
                    Bitstream Vera Sans Mono,
                    Courier New,
                    monospace;
            }
        </style>
    </body>
</html>
