---
import BaseLayout from "../layouts/BaseLayout.astro";
import Calendar from "../components/Calendar.vue";
---

<BaseLayout title="Calendar preview">
    <main class="h-screen mt-20">
        <Calendar client:load />
    </main>
</BaseLayout>
