---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title={"Martin'space"}>
    <nav
        class="hidden w-full l justify-between text-stone-300 text-xl z-1 lg:flex bg-transparent pt-6"
    >
        <a href="/" class="">Martin Hayot</a>
        <div class="flex z-10 justify-between gap-12 pr-10">
            <a href="/projects" class="">Projects</a>
            <a href="/blog">Blog</a>
            <a href="/about">About me</a>
            <a href="/contact">Contact me</a>
        </div>
    </nav>
    <main class="mx-auto h-screen">
        <div class="flex flex-col lg:flex-row 3xl:ml-40">
            <h1
                class="text-7xl xl:text-9xl 3xl:text-[10rem] md:text-8xl text-white text-center pt-20 lg:text-left lg:pt-40 lg:mt-20 xl:ml-20 z-10"
            >
                <span>Welcome to</span><br />
                <span
                    class="lg:pl-20 bg-gradient-to-br from-orange-500 from-10% to-purple-600 inline-block text-transparent bg-clip-text"
                    >Martin's space</span
                >
            </h1>
            <div class="flex relative mx-auto mt-32 lg:mt-60 3xl:mt-72">
                <img src="moon2.png" class="h-64 w-64 3xl:w-80 3xl:h-80" />
                <img
                    src="martin.jpeg"
                    class="absolute w-24 h-24 left-20 top-20 rounded-full animate-orbit z-0 3xl:left-[8em] 3xl:top-[7.5em]"
                />
            </div>
        </div>
        <div class="3xl:mt-[35em]">
            <div class="loader mx-auto mt-48 md:mt-32 lg:mt-60"></div>
            <p class="hidden md:block md:text-xl md:text-center md:mt-2">
                scroll down
            </p>
        </div>
    </main>
</Layout>

<section class="h-[40em]">
    <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 gap-8 p-0">
        <Card
            href="http://localhost:4321/projects"
            title="My Projects "
            body="Learn more about my projects and see them in action."
        />
        <Card
            href="http://localhost:4321/"
            title="My Github profile "
            body="Check out my Github profile and see what I'm working on."
        />
        <Card
            href="http://localhost:4321"
            title="My blog "
            body="Explore a galaxy of blog posts on web development, APIs, and more."
        />
        <Card
            href="http://localhost:4321"
            title="About me "
            body="Learn more about me and my journey as a developer."
        />
    </ul>
</section>

<style>
    @keyframes orbit {
        from {
            transform: rotate(0deg) translateX(13em) rotate(0deg);
        }
        to {
            transform: rotate(360deg) translateX(13em) rotate(-360deg);
        }
    }

    .animate-orbit {
        animation: orbit 30s linear infinite;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0;
    }

    .loader {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
    }

    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 35px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        transform: translate(-50%, -100%) scale(0);
        animation: push_401 2s infinite linear;
    }

    .loader:after {
        animation-delay: 1s;
    }

    @keyframes push_401 {
        0%,
        50% {
            transform: translate(-50%, 0%) scale(1);
        }

        100% {
            transform: translate(-50%, -100%) scale(0);
        }
    }
</style>
