---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Thank you">
    <main class="h-screen -mt-32 flex flex-col items-center justify-center">
        <h1 class="text-center text-4xl text-white">
            Thank you for reaching out!
        </h1>
        <div class="flex justify-center mt-10">
            <a href="/" data-astro-reload>
                <button
                    class="border-2 bg-white p-3 rounded-lg hover:bg-transparent hover:text-white text-black text-base duration-200"
                    >Go back home</button
                >
            </a>
        </div>
    </main>
</BaseLayout>
