---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
        <title>Thank you</title>
    </head>
    <body
        class="bg-neutral-950 px-10 text-sm text-neutral-400 overflow-x-hidden relative"
    >
        <div
            class="absolute -z-10 top-0 left-0 w-screen h-full bg-repeat bg-center bg-[url('/background.png')] bg-[length:500px_250px;]"
        >
        </div>
        <div
            class="fixed -z-10 h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] rounded-full bg-orange-500 blur-[150px] md:blur-[350px] opacity-50 left-0 top-0"
        >
        </div>
        <div
            class="fixed -z-10 h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] rounded-full bg-violet-500 blur-[150px] md:blur-[350px] opacity-55 right-0 bottom-0"
        >
        </div>
        <div class="h-screen w-screen">
            <h1 class="text-center text-4xl text-white pt-[20%]">
                Thank you for reaching out!
            </h1>
            <div class="flex justify-center mt-10">
                <a href="/" data-astro-reload>
                    <button
                        class="border-2 bg-white p-3 rounded-lg hover:bg-transparent hover:text-white text-black text-base duration-200"
                        >Go back home</button
                    >
                </a>
            </div>
        </div>
        <style is:global>
            :root {
                --accent: 136, 58, 234;
                --accent-light: 224, 204, 250;
                --accent-dark: 49, 10, 101;
                --accent-gradient: linear-gradient(
                    45deg,
                    rgb(var(--accent)),
                    rgb(var(--accent-light)) 30%,
                    white 60%
                );
            }
            html {
                font-family: system-ui, sans-serif;
            }
            code {
                font-family:
                    Menlo,
                    Monaco,
                    Lucida Console,
                    Liberation Mono,
                    DejaVu Sans Mono,
                    Bitstream Vera Sans Mono,
                    Courier New,
                    monospace;
            }
        </style>
    </body>
</html>
